.screenDarkenA {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 24%;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50;
  display: flex;
  justify-content: center;
  transition: .84s;
  outline: none;
  border: none;
  z-index: 0;
  font-family: 'Oswald', sans-serif; }

.modalWindowA {
  background-color: white;
  height: 85vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #142836;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  z-index: 1;
  overflow-y: scroll; }

.topContentRM {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; }

.closeButton {
  color: #142836;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 200;
  margin-top: 0px;
  margin-right: 10px; }

.containerForAdds {
  display: flex;
  width: 80%;
  flex-wrap: wrap; }

.rowFlexAM {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2vh; }

.centerContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

.yes {
  background-color: white;
  cursor: pointer;
  color: limegreen;
  border: none;
  outline: none; }

.no {
  background-color: white;
  cursor: pointer;
  color: red;
  border: none;
  outline: none; }

.containerForA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #5e96be solid 1px;
  border-radius: 5px;
  height: 20vh;
  width: 20vw;
  margin: 1vh; }
