@import "../../_colors.scss";

.outermostDivI {
    background-color: $darkblue;
}
.fixedHeaderI {
    top: 0;
    position: sticky;
    background-color: $darkblue;
    margin-bottom: 0px;
    border-bottom: 3px $yellow solid;
}

.sideBySideI {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.insightsWord {
    top: 10vh;
    color: $lightblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 3em;
    margin-bottom: 10px;
    letter-spacing: 1em;
    margin-left: 2vw;
    margin-top: 0px;
    
}

.graphTitle {
        /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


    color: $lightblue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: .25em;
    font-size: 2em;

}

.centerGraphD {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}