.outermostDivI {
  background-color: #939393; }

.fixedHeaderI {
  top: 0;
  position: sticky;
  background-color: #939393;
  margin-bottom: 0px;
  border-bottom: 3px #080a8a solid;
  z-index: 1; }

.sideBySideI {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; }

.insightsWord {
  top: 10vh;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 10px;
  letter-spacing: 1em;
  margin-left: 2vw;
  margin-top: 0px; }

.graphTitle {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  letter-spacing: .25em;
  font-size: 2em; }

.alignCenterC {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: scroll; }

.centerGraphD {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  overflow-x: scroll; }
