@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
.customersHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px darkblue solid; }

.headerTitleName {
  width: 33vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 2em; }

.headerTitleOrders {
  width: 6.66vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 1em; }

.customer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px darkblue solid; }

.name {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1em;
  width: 33vw; }

.detailsOrders {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 1em;
  width: 6.66vw; }

.addDelivery {
  background-color: darkblue;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 100%;
  border: none;
  cursor: pointer; }
