@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
.fixedHeader {
  top: 0;
  position: sticky;
  background-color: #4f4f4f;
  margin-bottom: 0px;
  border-bottom: 3px #dcb20a solid; }

.ordersWord {
  top: 10vh;
  color: #686ad8;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 10px;
  letter-spacing: 1em;
  margin-left: 2vw;
  margin-top: 0px; }

.ordersHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px #4f4f4f solid;
  color: #686ad8; }

.ordersDivider {
  background-color: darkslategray;
  height: 15px;
  transform: skew(-20deg) rotate(2deg);
  -webkit-transform: skew(-20deg) rotate(2deg);
  -moz-transform: skew(-20deg) rotate(2deg);
  width: 1px;
  background-color: #dcb20a; }

.ordersDividerM {
  background-color: darkslategray;
  height: 15px;
  transform: skew(-20deg) rotate(2deg);
  -webkit-transform: skew(-20deg) rotate(2deg);
  -moz-transform: skew(-20deg) rotate(2deg);
  width: 1px;
  background-color: #dcb20a; }

.headerTitleName {
  width: 33vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 2em; }

.headerTitleOrders {
  width: 10vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1em;
  display: flex;
  justify-content: space-around; }

.headerTitleOrdersM {
  width: 10vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1em;
  display: flex;
  justify-content: space-around; }

.ordersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #4f4f4f solid; }

.name {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1em;
  width: 33vw; }

.detailsOrders {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 1em;
  width: 9.09vw;
  text-align: center; }

.detailsOrdersM {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 1em;
  width: 9.09vw;
  text-align: center; }

.addDelivery {
  background-color: darkblue;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 100%;
  border: none;
  cursor: pointer; }

.completedOrder {
  background: none;
  cursor: pointer;
  color: black;
  border: none;
  transition: .24s; }

.completedOrder:hover {
  color: limegreen;
  font-size: 1.5em; }

.completedOrdercomplete {
  background: none;
  cursor: pointer;
  color: limegreen;
  border: none;
  font-size: 1.5em; }

@media only screen and (max-width: 375px) {
  .ordersDivider, .headerTitleOrders, .detailsOrders {
    display: none; }
  .sideBySide {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 5px; }
    .sideBySide .showCompleteTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-right: 10px; }
      .sideBySide .showCompleteTitle .showComplete {
        color: #686ad8;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 200;
        font-size: .5em;
        letter-spacing: .2em; }
  .ordersContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px #686ad8 solid; }
  .ordersWord {
    top: 10vh;
    color: #686ad8;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 1em;
    margin-bottom: 10px;
    letter-spacing: 1em;
    margin-left: 2vw;
    margin-top: 10px; }
  .ordersDividerM {
    background-color: darkslategray;
    height: 15px;
    transform: skew(-20deg) rotate(2deg);
    -webkit-transform: skew(-20deg) rotate(2deg);
    -moz-transform: skew(-20deg) rotate(2deg);
    width: 1px;
    background-color: #dcb20a; }
  .headerTitleOrdersM {
    width: 25vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: .5em;
    display: flex;
    justify-content: space-around; }
  .detailsOrdersM {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 1em;
    width: 25vw;
    text-align: center;
    border-right: #686ad8 solid 0.5px; } }
