@import "../../_colors.scss";


.screenDarken {
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    opacity: 24%;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50;
    display: flex;
    justify-content: center;
    transition: .84s;
    outline: none;
    border: none;
    z-index: 0;
    font-family: 'Oswald', sans-serif;   
}

.modalWindow {
    background-color: white;
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $colorOne;
    border-radius: 2px;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}

.topContentRMD {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.Select-inputTEST {
    color: black;
    width: 80%;
    height: 50px;
    font-size: 1.5em;
    margin-top: 15px;
}

.closeButton {
    color: $colorOne;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: 200;
    margin-top: 0px;
    margin-right: 0px;
}

.customerInfoRM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.aboveBelow {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.rowOne, .rowTwo {
    display: flex;
    width: 80%;
}

.rowForDeliveriesD {
    width: 90vw;
}

.inputNames {
    font-size: 2em;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
    color: lightgray;
}

.inputNames.Name {
    width: 45%;
}

.inputNames.Phone {
    width: 45%;
}

.inputNames.Address {
    width: 100%;
}

.inputNames.City {
    width: 100%;
}

.inputNames.State {
    width: 100%;
}

.inputBoxR {
    border: none;
    border-bottom: 1.5px solid lightgray;
    width: 200px;
    transition: .64s;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.inputBoxR.Name {
    width: 100%;
}

.inputBoxR.Phone {
    width: 100%;
}

.inputBoxR.Address {
    width: 100%;
}

.inputBoxR.City {
    width: 100%;
}

.inputBoxR.State {
    width: 100%;
}

.inputBoxR:focus {
    border-bottom: 1.5px solid $colorOne;
    outline: none;
    
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    
}

.repairButtond, .deliveryButtond {
    width: 25vw;
    height: 50px;
    border: none;
    border: 1px $colorOne solid;
    border-radius: 3px;
    background-color: white;
    transition: .34s;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: $colorOne;
    
}

.repairButtond:hover, .deliveryButtond:hover {
    cursor: pointer;
    border: 3px lime solid;
    border-radius: 3px;
    outline: none;
}

.repairButtond:focus, .deliveryButtond:focus {
    border: 3px lime solid;
    border-radius: 3px;
    outline: none;
}

.repairButtond:visited, .deliveryButtond:visited {
    border: 3px lime solid;
    border-radius: 3px;
    outline: none;
}

.colOneD {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.colOneDC {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.inputBoxD {
    border: none;
    border-bottom: 1.5px solid rgb(84, 84, 84);
    width: auto;
    transition: .64s;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: black;
    background-color: white;
    outline: none;
}

.inputBoxD:focus {
    border-bottom: 1.5px solid $accentColor;
    
}

.cartQuantD {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1vh;
    overflow-y: scroll;
}

.cartNameD {
    border: none;
    border-bottom: 1.5px solid rgb(84, 84, 84);
    width: 20vw;
    transition: .64s;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: black;
    background-color: white;
    outline: none;
}

.cartNameD:focus {
    border-bottom: 1.5px solid rgb(249, 249, 249);    

}   

.quantD {
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: #757575;


}


.removeButtonDE {
    border: darkred 1px solid;
    border-radius: 50%;
    color: darkred;
    width: 20px;
    height: 20px;
    background-color: white;
    cursor: pointer;
    outline: none;
}
.smallSAddD {
    border: darkgreen 1px solid;
    border-radius: 50%;
    color: darkgreen;
    width: 20px;
    height: 20px;
    background-color: white;
    cursor: pointer;
    outline: none;
    margin-top: 1vh;
}

.cartridgesNameD {
    font-size: 2em;
    margin-top: 1vh;  
    font-family: 'Oswald', sans-serif;
    text-shadow: none;
    color: #757575;
}


.inputNames.ContactName {
    width: 20vw;
}
.inputBox.ContactName {
    width: 20vw;
}
.inputNames.Qty {
    width: 6vw;
}
.inputBox.Qty {
    width: 6vw;
}

.inputNames.Loc {
    width: 11vw;
}
.inputBox.Loc {
    width: 11vw;
}
.inputNames.Tech {
    width: 11vw;
    font-size: 2em;
}
.inputBox.Tech {
    width: 11vw;
}
.inputNames.Notes {
    width: 12vw;
}
.inputBox.Notes {
    width: 12vw;
}


.inputNames.ContactNameRep {
    width: 12vw;
}
.inputBox.ContactNameRep {
    width: 12vw;
}
.inputNames.Printer {
    width: 11vw;
}
.inputBox.Printer {
    width: 11vw;
}
.inputNames.IDNum {
    width: 11vw;
}
.inputBox.IDNum {
    width: 11vw;
}

.centerButtonD {
    display: flex;
    width: 100%;
    justify-content: center;
}

.submit {
    border: darkgreen 1px solid;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    background-color: white;
    color: black;
    padding: 25px 50px;
    cursor: pointer;
    outline: none;
    margin-top: 2vh;    
}


@media only screen and (min-width: 376px) {
    //Mobile only - things not to be shown on desktop
}

@media only screen and (max-width: 425px) {
    body.x-ios {
        -webkit-backface-visibility: hidden;
      }

    .screenDarken {
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        opacity: 24%;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 25px;
        display: flex;
        justify-content: flex-start;
        transition: .84s;
        outline: none;
        border: none;
        z-index: 0;
        font-family: 'Oswald', sans-serif;   
    }
    

    .modalWindow {
        background-color: white;
        height: 450px;
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid $colorOne;
        border-radius: 5px;
        font-family: 'Oswald', sans-serif;
        z-index: 1;
        position: absolute;
        margin-top: 1px;
    
    }

    .Select-inputTEST {
        color: black;
        width: 80%;
        height: 50px;
        font-size: 1em;
        margin-top: 15px;
        margin-left: 15px;
    }

    .customerInfoRM {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        
    }
    .inputNames {
        font-size: 1em;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 500;
        color: lightgray;
    }
    .inputBoxR {
        border: none;
        border-bottom: 1.5px solid lightgray;
        width: 200px;
        transition: .64s;
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
    }

    .repairButtond, .deliveryButtond {
        width: 25vw;
        height: 50px;
        border: none;
        border: 1px $colorOne solid;
        border-radius: 3px;
        background-color: white;
        transition: .34s;
        margin-bottom: 20px;
        font-family: 'Oswald', sans-serif;
        font-size: .75em;
        color: $colorOne;
        
    }
    
    .repairButtond:hover, .deliveryButtond:hover {
        cursor: pointer;
        border: 3px lime solid;
        border-radius: 3px;
        outline: none;
    }
    
    .repairButtond:focus, .deliveryButtond:focus {
        border: 3px lime solid;
        border-radius: 3px;
        outline: none;
    }
    
    .repairButtond:visited, .deliveryButtond:visited {
        border: 3px lime solid;
        border-radius: 3px;
        outline: none;
    }
}