@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
.fixedHeader {
  top: 0;
  position: sticky;
  background-color: #4f4f4f;
  margin-bottom: 0px;
  border-bottom: 3px #dcb20a solid; }

.switchButtonOverlay {
  background-color: transparent;
  border: none;
  outline: none; }

.customersWord {
  top: 10vh;
  color: #686ad8;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 10px;
  letter-spacing: 1em;
  margin-left: 2vw;
  margin-top: 0px; }

.customerToggle {
  display: flex;
  width: 100%; }

.customerHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px #4f4f4f solid;
  color: #686ad8; }

.customersDivider {
  background-color: darkslategray;
  height: 15px;
  transform: skew(-20deg) rotate(2deg);
  -webkit-transform: skew(-20deg) rotate(2deg);
  -moz-transform: skew(-20deg) rotate(2deg);
  width: 1px;
  background-color: #dcb20a; }

.aboveBelowNav {
  display: flex;
  flex-direction: column;
  font-size: .8em; }

.headerTitleName {
  width: 33vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-size: 2em; }

.headerTitleCustomers {
  width: 10vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1em;
  display: flex;
  justify-content: space-around; }

.headerTitleCustomersName {
  width: 10vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1em;
  display: flex;
  justify-content: space-around; }

.customerContainerC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #4f4f4f solid; }

.custName {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1em;
  width: 10vw; }

.details {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 1em;
  width: 10vw;
  text-align: center; }

.addCustomer {
  background-color: #4f4f4f;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 100%;
  border: none;
  outline: none;
  transition: .84s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #4f4f4f solid; }

.addCustomer:hover {
  background-color: white;
  color: #4f4f4f;
  border: 2px #4f4f4f solid;
  cursor: pointer; }

.vert {
  width: 10px;
  height: 75px;
  background-color: #dcb20a;
  position: absolute; }

.horiz {
  width: 75px;
  height: 10px;
  background-color: #dcb20a;
  position: absolute; }

@media only screen and (max-width: 375px) {
  .fixedHeader {
    top: 0;
    position: sticky;
    background-color: #4f4f4f;
    margin-bottom: 0px;
    border-bottom: 3px #dcb20a solid; }
  .switchButtonOverlay {
    background-color: transparent;
    border: none;
    outline: none; }
  .customersWord {
    top: 10vh;
    color: #686ad8;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 1em;
    margin-bottom: 10px;
    letter-spacing: 1em;
    margin-left: 2vw;
    margin-top: 10px; }
  .customerToggle {
    display: flex;
    width: 100%; }
  .customerHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px #4f4f4f solid;
    color: #686ad8; }
  .customersDivider {
    background-color: darkslategray;
    height: 15px;
    transform: skew(-20deg) rotate(2deg);
    -webkit-transform: skew(-20deg) rotate(2deg);
    -moz-transform: skew(-20deg) rotate(2deg);
    width: 1px;
    background-color: #dcb20a; }
  .aboveBelowNav {
    display: flex;
    flex-direction: column;
    font-size: .8em; }
  .headerTitleName {
    width: 33vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 1em; }
  .headerTitleCustomers {
    width: 20vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: .5em;
    display: flex;
    justify-content: space-around; }
  .headerTitleCustomersName {
    width: 10vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: .5em;
    display: flex;
    justify-content: space-around; }
  .customerContainerC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px #686ad8 solid; }
  .custName {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: .7em;
    width: 20vw;
    border-right: 0.5px #686ad8 solid; }
  .details {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: .7em;
    width: 20vw;
    text-align: center;
    border-right: 0.5px #686ad8 solid; }
  .addCustomer {
    background-color: #4f4f4f;
    position: fixed;
    bottom: 60px;
    right: 15px;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 100%;
    border: none;
    outline: none;
    transition: .84s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #4f4f4f solid; }
  .addCustomer:hover {
    background-color: white;
    color: #4f4f4f;
    border: 2px #4f4f4f solid;
    cursor: pointer; }
  .vert {
    width: 7px;
    height: 45px;
    background-color: #686ad8;
    position: absolute; }
  .horiz {
    width: 45px;
    height: 7px;
    background-color: #686ad8;
    position: absolute; } }
