@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
.customersHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px #5DA494 solid; }

.headerTitleName {
  width: 33vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 2em; }

.headerTitle {
  width: 16.5vw;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
  font-size: 2em; }

.customer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #5DA494 solid; }

.name {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1em;
  width: 33vw; }

.details {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  font-size: 1em;
  width: 16.5vw; }

.addCustomer {
  background-color: #5DA494;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 100%;
  border: none;
  outline: none;
  transition: .84s;
  display: flex;
  justify-content: center;
  align-items: center; }

.addCustomer:hover {
  background-color: white;
  color: #5DA494;
  border: 1px #5DA494 solid;
  cursor: pointer; }

.vert {
  width: 10px;
  height: 75px;
  background-color: white;
  position: absolute; }

.horiz {
  width: 75px;
  height: 10px;
  background-color: white;
  position: absolute; }

.vert:hover, .horiz:hover {
  background-color: #5DA494; }
