@import '../../_colors.scss';

.NavBarContainer {
    display: flex;
    flex-direction: column;
    width: &;
    background-color: $darkblue;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;   
    justify-content: center;
    height: 10vh;
    padding: 5px;
}

.divider {
    background-color: darkslategray;
    height: 5vh;
    transform: skew(-20deg) rotate(2deg);
    -webkit-transform: skew(-20deg) rotate(2deg);
    -moz-transform: skew(-20deg) rotate(2deg);
    width: 1px;
}

.logoNav {
    width: 15vw;
    background-color: $darkblue;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: $darkblue;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;  
    border: 1px darkslategrey solid;
}

.tabbedLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 4vh;
    width: 12.5vw;
    transition: .65s;
    align-items: center;
    text-align: center;
    color: darkslategray;
}



.tabbedLinks:hover {
    background-color: $darkblue;
}



.tabbedLinksActive{
    background-color: $darkblue;
    color: $yellow;
    font-weight: 700;
}

