.NavBarContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #030383;
  align-items: center; }

.logoNav {
  height: 6vh;
  padding: 10px; }

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  background-color: white; }

.tabbedLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 4vh;
  width: 12.5vw;
  transition: .35s;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px darkslategrey solid;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: darkslategray; }

.tabbedLinks:hover {
  background-color: #030383;
  /* Old Browsers */ }

.tabbedLinksActive {
  background-color: #030383;
  color: white; }
