.NavBarContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #030383;
  align-items: center; }

.logoNav {
  height: 6vh;
  padding: 10px; }

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  background-color: white; }

.tabbedLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 3vh;
  width: 12.5vw;
  transition: .35s;
  align-items: center;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%); }

.tabbedLinks:focus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 3vh;
  width: 12.5vw;
  transition: .35s;
  align-items: center;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%); }

.tabbedLinks:hover {
  background-color: #000061;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  /* Old Browsers */
  background: -webkit-linear-gradient(bottom, white, #030383);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, white, #030383);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, white, #030383);
  /*Fx 3.6-15*/
  background: linear-gradient(to top, white, #030383);
  /*Standard*/ }

.tabbedLinksActive {
  background-color: #030383;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%); }
