body {
  margin: 0;
  padding: 0; }

.NavBarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #5DA494;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  justify-content: center;
  height: 10vh;
  width: 100%;
  position: sticky; }

.divider {
  background-color: darkslategray;
  height: 5vh;
  transform: skew(-20deg) rotate(2deg);
  -webkit-transform: skew(-20deg) rotate(2deg);
  -moz-transform: skew(-20deg) rotate(2deg);
  width: 1px; }

.aboveBelowNav {
  padding-top: 20px;
  display: flex;
  flex-direction: column; }

.logoForNav {
  width: 12vw;
  height: 9vh;
  background-color: transparent;
  z-index: 1; }

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #5DA494;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  font-weight: 200; }

.tabbedLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 4vh;
  width: 12.5vw;
  transition: .34s;
  align-items: center;
  text-align: center;
  color: darkslategray;
  font-size: 1vw; }

.tabbedLinks:hover {
  background-color: #5DA494; }

.tabbedLinksActive {
  background-color: #5DA494;
  color: #E5B52F;
  font-weight: 700;
  font-size: 1.3vw; }
