.container > .contentContainer > .contentContainerBackgroundRect {
  fill: #142836; }

.container > .contentContainer .xAxis text {
  font-size: .75em;
  color: white; }

.container > .contentContainer .line path {
  fill: transparent;
  stroke: #e87925;
  stroke-width: 2; }

.container > .contentContainer .scatter circle {
  fill: #e87925;
  stroke: #142836;
  stroke-width: 2; }

.yAxis, .xAxis {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  color: white; }
