@import "../../../_colors.scss";

.container > .contentContainer > .contentContainerBackgroundRect {
    fill: $darkblue;
  }
  
  .container > .contentContainer .xAxis text {
    font-size: .75em;
  }
  
  .container > .contentContainer .line path {
    fill: transparent;
    stroke: $yellow;
    stroke-width: 2;
  }
  
  .container > .contentContainer .scatter circle {
    fill: $yellow;
    stroke: $darkblue;
    stroke-width: 2;
  }
  
  .yAxis, .xAxis {
      font-family: "Oswald", sans-serif;
      font-size: 1.5em;
  }
