.dash-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: #939393; }

.logo {
  width: 50vw; }

.tempTitle {
  top: 10vh;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 10px;
  letter-spacing: 1em;
  margin-left: 2vw;
  margin-top: 50px; }

.greeting {
  top: 10vh;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 10px;
  margin-left: 2vw;
  margin-top: 20px; }

.tempInfo {
  margin-top: 30px;
  color: black; }

.rdCircles {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin-bottom: 10px; }
  .rdCircles .aboveBelow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left; }
    .rdCircles .aboveBelow .circle {
      font-family: 'Oswald', sans-serif;
      background-color: #080a8a;
      border-radius: 50%;
      font-size: 15em;
      font-weight: 400;
      width: auto;
      height: auto;
      margin-bottom: 25px;
      color: #939393;
      text-decoration: none; }
    .rdCircles .aboveBelow .descriptions {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 200;
      font-size: 2em;
      color: #FFF;
      letter-spacing: .5em; }

.buttonOrg {
  display: flex;
  justify-content: space-around;
  width: -webkit-fill-available; }

.newCall {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 2vw;
  color: #FFF;
  border: none;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #939393;
  border: #080a8a 5px solid;
  border-radius: 6px;
  font-size: 3em;
  font-weight: 900;
  color: whitesmoke;
  transition: .84s;
  outline: none; }
  .newCall .newCall:hover {
    background-color: #FFF;
    color: #939393;
    cursor: pointer; }

@media only screen and (max-width: 568px) {
  .dash-container {
    height: 100vh; }
  .tempTitle {
    top: 10vh;
    color: #FFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 10px;
    letter-spacing: .3em;
    margin-left: 2vw;
    margin-top: 10px; }
  .rdCircles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    margin-bottom: 10px; }
    .rdCircles .aboveBelow {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: left; }
      .rdCircles .aboveBelow .circle {
        font-family: 'Oswald', sans-serif;
        background-color: #080a8a;
        border-radius: 50%;
        font-size: 3.75em;
        font-weight: 400;
        width: auto;
        height: auto;
        margin-bottom: 7px;
        color: #939393;
        text-decoration: none; }
      .rdCircles .aboveBelow .descriptions {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 200;
        font-size: 1em;
        color: #FFF;
        letter-spacing: .5em; }
  .buttonOrg {
    display: flex;
    justify-content: space-around;
    width: 50vw; }
  .newCall {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: #FFF;
    height: auto;
    width: auto;
    border: none;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #939393;
    border: #080a8a 1px solid;
    border-radius: 6px;
    color: whitesmoke;
    transition: .84s;
    outline: none; }
    .newCall .newCall:hover {
      background-color: #FFF;
      color: #939393;
      cursor: pointer; }
  .greeting {
    margin-top: 5px;
    font-size: 1.5em;
    letter-spacing: 0.1em; } }
