.dash-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: #5DA494; }

.logo {
  width: 50vw; }

.tempTitle {
  top: 10vh;
  color: #8EC5BF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 10px;
  letter-spacing: 1em;
  margin-left: 2vw;
  margin-top: 50px; }

.greeting {
  top: 10vh;
  color: #8EC5BF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 3em;
  margin-bottom: 10px;
  margin-left: 2vw;
  margin-top: 50px; }

.tempInfo {
  margin-top: 30px;
  color: black; }

.rdCircles {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  margin-bottom: 20px; }

.aboveBelow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left; }

.circle {
  font-family: 'Oswald', sans-serif;
  background-color: #E5B52F;
  border-radius: 50%;
  font-size: 10em;
  font-weight: 400;
  width: 15vw;
  height: auto;
  margin-bottom: 25px;
  color: #5DA494;
  text-decoration: none; }

.descriptions {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 2em;
  color: #8EC5BF;
  letter-spacing: .5em; }

.newCall {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 2vw;
  color: #8EC5BF;
  letter-spacing: .5em;
  border: none;
  width: 25vw;
  height: 10vh;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #5DA494;
  border: #E5B52F 5px solid;
  border-radius: 6px;
  font-size: 3em;
  font-weight: 900;
  color: whitesmoke;
  transition: .84s;
  outline: none; }

.newCall:hover {
  background-color: #8EC5BF;
  color: #5DA494;
  cursor: pointer; }
