.login-container {
  background-color: #939393;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0; }

.login-button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #FFF;
  letter-spacing: .5em;
  margin-top: 50px;
  color: white;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  text-decoration: none;
  border-radius: 50px;
  transition: .84s;
  border: 2px solid #080a8a;
  cursor: pointer; }

.login-button::first-letter {
  letter-spacing: .5; }

.login-button:hover {
  background-color: white;
  color: #080a8a;
  outline: none; }

.logo {
  height: 20vh; }
