.screendarken {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 24%;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .84s; }

.modal-window {
  background-color: white;
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #030383;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif; }

.rightAlign {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.topContent {
  width: 100%;
  display: flex;
  justify-content: center; }

.customerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%; }

.aboveBelow {
  display: flex;
  flex-direction: column;
  padding: 5px; }

.custFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%; }

.rowTwo {
  display: flex; }

.inputNames {
  font-size: 1em;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 500;
  color: lightgray; }

.inputBox {
  border: none;
  border-bottom: 1.5px solid lightgray;
  width: 200px;
  transition: .64s;
  margin-top: 3vh; }

.inputBox:focus {
  border-bottom: 1.5px solid #030383;
  outline: none; }

.Select-input {
  color: black;
  width: 20vw; }

.close-button {
  color: #030383;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 200;
  margin-top: 6px;
  margin-right: 9px; }

.submitButton {
  border: #030383 solid 1px;
  border-radius: 5px;
  margin-top: 5vh;
  width: 40%;
  height: 40px;
  font-family: "Oswald", sans-serif;
  background-color: white;
  transition: .64s; }

.submitButton:hover {
  border: lime 1px solid; }
